#quizbox {
	width:700px;
	height:400px;
	text-align:center;
	//background-color: rgb(240,240,240);
	background-image: url('../images/money.jpg');
	background-repeat:no-repeat;
	background-size: 700px 400px;
	//opacity:.5;
}

//#quizlayer {
	width:700px;
	height:400px;
	background-color:rgba(255,255,255,.1);
}

#timer {
	height:50px;
	width:200px;
	margin:auto;
	margin-bottom: -15px;
	font-size: 2em;
	background-color: rgba(255,255,255,.7);
	
}


	
#billionairetriviatitle {
	background-color: rgba(255,255,255,.7);
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.5em;
	text-shadow: 2px 2px #888888;
	
}

#start {
	width: 150px;
	height: 30px;
	border-style: none;
	margin: auto;
	padding-top: 5px;
	background: white;
	box-shadow: 5px 5px 5px #888888;
	
}

#start:hover{
	box-shadow: none;
	border-color:solid;
	position: relative;
	top: 5px;
	
	
}


#quizspace{
	
	
}

#qnumber{
	//float:left;
}

#question {
	background-color: rgba(255,255,255,.7);
	margin: auto;
	margin-top:40px;
	width: 550px;
	
}

#billionairetriviainst{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 17px;
	background-color: rgba(255,255,255,.7);
	
}

.answer {
	height:50px;
	width: 500px;
	float:left;
	border-style:solid;
	margin-left:100px;
	margin-top:10px;
	background-color: white;
	box-shadow: 0px 1px 1px #888888;


}

.answer:hover {
	//border-color:solid;
	position: relative;
	top: 1px;
	box-shadow: none;
}

.answer:focus {
	outline:0;
}

.result {
	width:50px;
	height:50px;
	float:left;
	//border-style:solid;
	margin-top: 10px;
	line-height:50px ;
	font-size: 3em;
	color: red; 
	//background-color:grey;
}


.checkmark {
	width:50px;
	height:50px;
	float:left;
	//border-style:solid;
	margin-top: 10px;
	line-height:50px ;
	font-size: 3em;
	color: green;
	
}

#gameover {
	height:300px;
	width:400px;
	border-style:solid;
	margin:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 2em;
	text-align:center;
	background-color: rgb(209,229,172); 
}

#gameoverwin {
	margin:auto;
	text-align:center;
	height:300px;
	width:400px;
	border-style:none;
	background-color: rgb(209,229,172); 
	font-family:Arial, Helvetica, sans-serif;
	font-size: 2em;
	
}

.totalscore{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	margin: auto;
}