/* CSS Document */ 
 
 body{
	 margin:0px;
 }
 
#outercontainer {
	 margin:auto;
	 height:auto;
	 width:1000px;
	 //border-style:solid;
	 }
 
#header { 
	text-align:center; 
	background-color: white; 
	width: auto; 
	height: 60 px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;

} 


#top{
	 margin:auto;
	 width:1000px;
	// border-style:solid;
	
}

h2{
	font-weight:normal;
}

#login{
	float: right;
	padding-right:26px;
	}

.login {
	background-color: rgb(231, 229, 226);
	border:none;
}

.submitbutton{
	background-color:grey;
	border-style:none;
	color:white;
	
	}
 
#navigation { 
	text-align: left;
	background-color: rgb(80,187,65); 
	width:100%; 
	height: 25px; 
	font-family:Arial, Helvetica, sans-serif;
	font-size: 17px;
	line-height:25px;
} 


nav * {
	padding:0;margin:0;
}
nav li {
	text-align:left;
	color:white;
	float:left;
	//padding-right:19px;
	//padding-left:28px;
	height:20px;
	background: rgb(80,187,65); 
	list-style: none;
	position: relative;
//	display: inline-table;
}

nav ul ul {
	display: none;
}

/*
nav ul li:hover > ul {
	display: block;
}
*/
nav ul li:hover ul {
	display:block;	
}
/*
nav ul:after {
	content: "";
	clear: both;
	display: block;
}
*/
nav ul li {
	float: left;
}
nav ul li:hover {
		background: #fff;
		font-color:rgb(80,187,65);
}

nav ul li:hover a {
		//color: #fff;
		color:rgb(80,187,65);
}
	
nav ul li a {
	display: block; 
	padding: 0 20px;
//	margin-bottom:10px;
	color:rgb(80,187,65); 
	text-decoration: none;
}
	
nav ul ul {
	//background: #5f6975; 
	background: rgb(80,187,65);
	border-radius: 0px; 
	padding: 10px;
	position: absolute; 
	top: 0;
}
nav ul ul li {
	float: none; 
	position: relative;
}
		
nav ul ul li a {
	//padding: 15px;
	color: rgb(80,187,65);
}	

nav ul ul li a:hover {
	//background: #4b545f;
	background:#FFF;
}

#menubox {
	/* No instructions */	
}

#menu {
	margin:auto;	
	width: 1000px;	
}
#menu *{
	margin: 0;
	padding:0;
}

#menu li{
	position: relative;
	float: left;
	list-style: none;
}


#menu li a{
	width:200px;
	height: 25px;
	display: block;
	text-decoration:none;
	text-align: center;
	line-height: 25px;
	background-color: rgb(80,187,65); 
	color:#FFF;
	}

#menu li a.narrow {
	width: 130px;	
}

#menu .selected {
	background-color:white;
	color:black;
}

#menu li a:hover{
	background-color: white;
	color: #000;
}



#menu ul ul{
	position: absolute;
	top: 25px;
	visibility: hidden;
}

#menu ul ul ul{
	position: absolute;
	top: 0px; left:100px;
	visibility: hidden;
}



#menu ul li:hover ul{
	visibility:visible;
}

#menu ul li:hover ul ul{
	visibility:hidden;
}

#menu ul ul li:hover ul{
	visibility:visible;
}





	

#sidebar {
	width:270px;
	height:500px; 
	float:left; 
}

#sidebartext {
	text-align:center; 
	font:Arial, Helvetica, sans-serif; 
	font-size:14px;
}

#asknatalie {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
}

#companyresearch { 
	background-color: rgb(209,229,172); 
	width: 250px; 
	font-family:Arial, Helvetica, sans-serif;
	float: left;
	text-align:center;
	height:135px;
} 
 
#twitter { 
	float:left; 
	width: 250px;
	height:auto;
}

#main {
	float:left;
	height:auto;
	width:686px;
	/*border:solid;
	border-color:black;*/
	padding:10px;
}

#thrivebudget{
	width: 290px;
	height:225px;
	margin:0px;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size:30px;
	border-style:solid;
}

.gameplaceholderimage {
	width:290px;
	height:225px;
}

#thrivebudgettitle{
	font-family: Arial, Helvetica, sans-serif;
	font-size:30px;
	float:left;
	width: 290px;
	height:35px;
	padding-left:5px;
	text-align:center;
	//border-style:solid;
}

#billionairetitle{
	font-family: Arial, Helvetica, sans-serif;
	font-size:30px;
	float:right;
	width: 290px;
	height:35px;
	padding-left:5px;
	//border-style:solid;
	text-align:center;
}

#billionairetrivia{
	width: 290px;
	height:225px;
	margin:0px;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size:30px;
	border-style:solid;
	float:right;
	margin-top:-231px;
	}
	
#highscores{
	height:auto;
	width:700px;
	//border-style:solid;
    float: right;
	}


/*styles for leaderboard on trivia page	*/
.scorerow {
	margin-left:5px;
	width:695px;
	height:auto;
	background-color:white;
	margin-top:5px;
	
	

}

.green {
	
	background-color: rgb(80,187,65);;
	

}

.count {
	width:100px;
	float:left;
	//border-style:solid;
	background-color:inherit;
	text-align:center;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}		

.nickname{
	width:200px;
	float:left;
	background-color:inherit;
}

.score {
	width:150px;
	float:left;
	background-color:inherit;
}

.timestamp {
	width:240px;
	float:left;
	background-color:inherit;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}


/*styles for leaderboard on main games page*/


.scorerow1 {
	margin-left:5px;
	width:600px;
	height:auto;
	background-color:white;
	margin-top:4px;
	font-size:.9em;
	
	

}

.green1 {
	
	background-color: rgb(80,187,65);;
	

}



.count1 {
	width:50px;
	float:left;
	//border-style:solid;
	background-color:inherit;
	text-align:center;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}		

.nickname1 {
	width:95px;
	float:left;
	background-color:inherit;
}

.score1 {
	width:65px;
	float:left;
	background-color:inherit;
}

.timestamp1 {
	width:70px;
	float:left;
	background-color:inherit;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

/*end high scores*/
	
#thriveleaderboard {
	width: 290px;
	height:225px;
	margin:8px;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	border-style:solid;
	float:right;
	margin-top:-226px;
	background-color: rgb(209,229,172);
	border:1; 
	text-align:center;
	}
	
.tablerank {
	width:10px;
}
	
#trivialeaderboard{
	width: 290px;
	height:225px;
	margin:8px;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	//border-style:solid;
	float:right;
	margin-top:-226px;
	background-color: rgb(209,229,172); 
	}
	
#popularcontenttitle{
	font-family: Arial, Helvetica, sans-serif;
	font-size:30px;
	float:left;
	width: 290px;
	height:35px;
	padding-left:5px;
	/*border-style:solid;*/
	text-align:center;
}
	
#popularcontent{
	font-family: Arial, Helvetica, sans-serif;
	font-size:30px;
	float:left;
	width: 290px;
	height:125px;
	padding-left:5px;
	text-align:center;
	background-color: rgb(209,229,172); 
	margin-top:10px;
}

#popularcontentright{
	font-family: Arial, Helvetica, sans-serif;
	font-size:30px;
	float:right;
	width: 290px;
	height:125px;
	padding-left:5px;
	text-align:center;
	background-color: rgb(209,229,172); 
	margin-top:10px;
}

#footer {
	border-top-style:solid;
	border-top-color:rgb(80,187,65); 
	border-width:15px;
	width:100%;
	height:50px;
	position: absolute;
	//border-style:solid;
}

#bottom {
	margin:auto;
	padding-top:10px;
	width:1000px;
	height:50px;
	//border-style:solid;
}

#footerlefttext {
	float:left;
	//text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:15px;
}

#footerrightttext {
	text-align:right;
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	padding-right:15px;
}

#termstoknow{
	text-align:left; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:20px;
	}
	
#sub{
	text-align:left;
	font-family:Arial, Helvetica, sans-serif; 
	font-size:16px;
	}

table,th,td {
	border:0px solid black;
	border-collapse:collapse;
	}
	
.terms{
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	width:130px;
	padding:10px;
	}

.definition{
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	padding:10px;
	}
	
#aboutwebsite{
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	width:685px;
	height:auto;
	//border-style:solid;
	padding:10px;
}

#aboutnatalie{
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	width:685px;
	height:auto;
	//border-style:solid;
	padding:10px;
}

.teacherresources {
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}

#contact{
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	}
#contactinfo{
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	float:left;
	
	}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
	margin:0px;
	padding:4px;
}
input {
  display: inline-block;
  float: left;
  margin:5px;
  padding:5px;
}

textarea {
  display: inline-block;
  float: left;
  margin:5px;
  padding:5px;
}

.popularcontenttitle {
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#039;
	text-align:left;
	font-weight:500;
	padding:5px;
}

.popularcontentdescription {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-align:left;
	padding:5px;
	
}

#gamepagetitle {
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight:bold;
	text-align:center;
	padding-bottom:5px;
}



#home .home, #about .about, #contact .contact, #game .game, #student .student, #teacher .teacher{
	
	background-color:white;
	color:black;
	
}